.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
mat-card {
  max-width: 400px;
  width: 100%;
}
.full-width {
  width: 100%;
  margin-bottom: 10px;
}
.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.footer-text {
  padding: 20px;
  text-align: center;
}
